#Eclipe project files
#.classpath
#.project
.settings
.metadata/

#Intellij IDEA project files
*.iml
.idea

#CTools temporary files
*_tmp.cd*

*Thumbs.db

BTableCustom/
**/.DS_Store
BTable/


BTable-pentaho5/bin/
BTable-pentaho5/dist/
BTable-pentaho5/runtime-lib/
BTable-pentaho5/test-lib/

BTable-pentaho7/bin/
BTable-pentaho7/dist/
BTable-pentaho7/runtime-lib/
BTable-pentaho7/test-lib/

BTable-pentaho5/CHANGELOG.txt
BTable-pentaho5/LICENSE.txt
BTable-pentaho5/README.md

BTable-pentaho7/CHANGELOG.txt
BTable-pentaho7/LICENSE.txt
BTable-pentaho7/README.md
