#Eclipe project files
#.classpath
#.project
.settings
.metadata/

#Intellij IDEA project files
*.iml
.idea

#CTools temporary files
*_tmp.cd*


BTable-pentaho/bin/
BTable-pentaho/dist/
BTable-pentaho/runtime-lib/
BTable-pentaho/test-lib/

BTable-pentaho/dashboards/About.*
BTable-pentaho/dashboards/Render.*

BTable-pentaho/endpoints/kettle/getPluginVersion.ktr
BTable-pentaho/endpoints/kettle/listCdaDatasources.ktr

BTable-pentaho/resources/components/
!BTable-pentaho/resources/components/BTable/lib/bt.helpers.js
!BTable-pentaho/resources/components/BTable/lib/popup.css
BTable-pentaho/resources/lang/

BTable-pentaho/solution/BTable From File*

BTable-pentaho/src/
!BTable-pentaho/src/it/biztech/btable/olap/
!BTable-pentaho/src/it/biztech/btable/BTableConstants.java
!BTable-pentaho/src/it/biztech/btable/BTableContentGenerator.java
!BTable-pentaho/src/it/biztech/btable/BTableContentTypeMetaProvider.java

BTable-pentaho/static/custom/css/
BTable-pentaho/static/custom/img/
BTable-pentaho/static/system/img/

BTable-pentaho/CHANGELOG.txt
BTable-pentaho/LICENSE.txt
BTable-pentaho/README.md


BTable-pentaho5/bin/
BTable-pentaho5/dist/
BTable-pentaho5/runtime-lib/
BTable-pentaho5/test-lib/

BTable-pentaho5/dashboards/About.*
BTable-pentaho5/dashboards/Render.*

BTable-pentaho5/endpoints/kettle/getPluginVersion.ktr
BTable-pentaho5/endpoints/kettle/listCdaDatasources.ktr
		  
BTable-pentaho5/resources/components/
!BTable-pentaho5/resources/components/BTable/lib/bt.helpers.js
!BTable-pentaho5/resources/components/BTable/lib/popup.css
BTable-pentaho5/resources/lang/

BTable-pentaho5/solution/BTable From File*

BTable-pentaho5/src/
!BTable-pentaho5/src/it/biztech/btable/api/
!BTable-pentaho/src/it/biztech/btable/olap/
!BTable-pentaho5/src/it/biztech/btable/BTableConstants.java
!BTable-pentaho5/src/it/biztech/btable/BTableContentGenerator.java

BTable-pentaho5/static/custom/css/
BTable-pentaho5/static/custom/img/
BTable-pentaho5/static/system/img/

BTable-pentaho5/CHANGELOG.txt
BTable-pentaho5/LICENSE.txt
BTable-pentaho5/README.md
