<?xml version="1.0" encoding="UTF-8"?>
<plugin title="BTable" loader="DEFAULT">
	<lifecycle-listener class="pt.webdetails.cpk.CpkLifecycleListener"/>
	<static-paths>
		<static-path url="/BTable/static" localFolder="static"/>
		<static-path url="/BTable/resources" localFolder="resources"/>
	</static-paths>
	<content-types>
		<content-type>
			<title>BTable</title>
			<description>A drill-anywhere component for CDE</description>
			<company name="Biz Tech" url="http://www.biztech.it" logo="@PLUGIN_COMPANY_LOGO@"></company>
		</content-type>
	</content-types>
	<content-generator
		id="BTable"
		title="BTable"
		type="BTable"
		class="pt.webdetails.cpk.CpkContentGenerator"/>
		
	<overlays>
		<overlay id="startup.BTableAnalyzer" resourcebundle="../content/BTable/lang/messages.properties">
			<overlay id="startup.BTableAnalyzer">
				<toolbar id="mainToolbar">
					<toolbarbutton id="newBTableAnalysis" image="../content/BTable/static/custom/img/bt.png"
						onclick="mainToolbarHandler.openUrl('BTable Analyzer','BTable Analyzer','content/BTable/analyzer')"
						tooltiptext="BTable Analyzer" insertafter="newAnalysisButton" />
				</toolbar>
			</overlay>
		</overlay>
	</overlays>
	
	<!-- Menu entry -->
	<menu-items>
		<menu-item id="BTable_main" anchor="tools-submenu" label="BTable" command="content/BTable/" type="MENU_ITEM" how="LAST_CHILD"/>
		<menu-item id="BTable_analyzer" anchor="file-new-submenu" label="BTable Analyzer" command="content/BTable/analyzer" type="MENU_ITEM" how="LAST_CHILD"/>
	</menu-items>
</plugin>
